tqdm==4.65.0
tradingview_indicators==0.1.1.0
catboost==1.2.2
klib==1.1.1
ccxt==4.0.86
dash[diskcache]==2.10.2
dash_ag_grid==2.1.0
dash_bootstrap_components==1.4.1
plotly==5.15.0
pandas==2.0.3
pyarrow==12.0.1
numpy==1.23.5
shap==0.43.0
gunicorn==20.1.0
scikit-learn==1.3.0rc1
